<div class="space-y-6">
    
    <div class="bg-white p-4 rounded-xl shadow">
        <h1 class="text-xl font-bold text-gray-800">Welcome Back, Ko Arkar!</h1>
        <p class="text-sm text-gray-500">သင်၏ Data Journey ကို ဆက်လက် လေ့လာလိုက်ပါ။</p>
    </div>
    
    <div id="content-container" class="space-y-4">
        <div class="text-center py-10">
            <div class="inline-block w-8 h-8 border-4 border-tis-primary border-t-transparent rounded-full animate-spin"></div>
            <p class="text-sm text-tis-primary mt-2">Loading Modules... ⏳</p>
        </div>
    </div>
</div>